<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Curling Scores</title>
	<link rel="stylesheet" href="/styles/site.css" />
	<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
</head>
<body >

	<script type="text/x-template" id="scoreboard">
		<div class="scoreboard-container">
			<div class="scoreboard">
				<h3 class="scoreboard-title">Scores</h3>

				<ul class="scoreboard-events-container" >
					<li class="scoreboard-events-list" :class="{'selected' : activeEvent == event}" v-for="event in events" v-on:click="activeEvent = event; eventIsActive = true">
						<event v-bind="{event}"></event>
					</li>
				</ul>
				<div class="scoreboard-scores-container" :class="{'active' : eventIsActive}">
					<div class="event-scoreboard-header">
						<div class="back-button score-navigation-button" v-on:click="eventIsActive = false">&lsaquo;</div>
						<h4 class="scoreboard-event-name">{{activeEvent.displayName}}</h4>
						<div class="exit-button score-navigation-button" v-on:click="eventIsActive = false">&#10005;</div>
					</div>
					<scores v-bind="{activeEvent}"></scores>
				</div>
			</div>
		</div>
	</script>

	<script type="text/x-template" id="event">
		<div class="scoreboard-event">
			<div class="event-name">
				{{event.displayName}}
			</div>
			<div class="event-type" v-bind:class="event.division">
				{{event.division.charAt(0).toUpperCase() + event.division.slice(1)}}
			</div>
			<div class="event-location">
				{{event.location}}
			</div>
		</div>
	</script>

	<script type="text/x-template" id="scores">
		<div class="loading-scores" v-if="loading">
			<div class="loading-circle"></div>
		</div>
		<div class="scoreboard-scores" v-else-if="!linescoreIsActive">
			<select class="draw-select" v-if="draws && draws.length > 0">
				<option class="draw-select-option" v-for="draw in draws">
					{{draw.drawName}}
				</option>
			</select>
			<ul class="scores-container" v-if="currentDraw && currentDraw.games && currentDraw.games.length > 0">
				<li class="score-list-item" v-for="game in currentDraw.games" >
					<div class="score-name score-home-name" v-bind:class="{'loser' : game.gameStatus == 'final' && parseInt(game.awayScore) > parseInt(game.homeScore)}">{{game.homeTeamShortName}}</div>
					<div class="score-amount score-home-amount" v-bind:class="{'loser' : game.gameStatus == 'final' && parseInt(game.awayScore) > parseInt(game.homeScore)}">{{game.homeScore}}</div>
					<div class="score-name score-away-name" v-bind:class="{'loser' : game.gameStatus == 'final' && parseInt(game.awayScore) < parseInt(game.homeScore)}">{{game.awayTeamShortName}}</div>
					<div class="score-amount score-away-amount" v-bind:class="{'loser' : game.gameStatus == 'final' && parseInt(game.awayScore) < parseInt(game.homeScore)}">{{game.awayScore}}</div>
					<div class="score-status-text">{{game.statusText}}</div>
				</li>
			</ul>
			<p class="scores-no-games" v-else>No games!</p>
		</div>
		<div class="linescore-container" v-else>
			
		</div>
	</script>

	<script type="text/x-template" id="linescore">
		<div class="linescore-container">
			
		</div>
	</script>

	<div id="app" class="app">
		<scoreboard></scoreboard>
	</div>
	
	<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="/js/site.js"></script>
</body>
</html>

