<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Curling Scores</title>
	<link rel="stylesheet" href="/styles/site.css" />
	<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
</head>
<body >

	<script type="text/x-template" id="scoreboard">
		<div class="scoreboard">
			<h3>Scores</h3>

			<ul class="scoreboard-events-container" >
				<li class="scoreboard-events-list" v-for="event in events" v-on:click="activeEvent = event">
					<event v-bind="{event}"></event>
				</li>
			</ul>
			<div class="scoreboard-scores-container">
				<scores v-bind="{activeEvent}"></scores>
			</div>
		</div>
	</script>

	<script type="text/x-template" id="event">
		<div class="scoreboard-event">
			<div class="event-name">
				{{event.displayName}}
			</div>
			<div class="event-type">
				{{event.division}}
			</div>
			<div class="event-location">
				{{event.location}}
			</div>
		</div>
	</script>

	<script type="text/x-template" id="scores">
		<div class="scoreboard-scores">
			<h4 class="scoreboard-event-name">{{activeEvent.displayName}}</h4>
			<select class="draw-select" v-if="draws && draws.length > 0">
				<option class="draw-select-option" v-for="draw in draws">
					{{draw.drawName}}
				</option>
			</select>
			<ul class="scores-container" v-if="currentDraw && currentDraw.games && currentDraw.games.length > 0">
				<li class="score-list-item" v-for="game in currentDraw.games" >
					<div class="score-name score-home-name">{{game.homeTeamShortName}}</div>
					<div class="score-amount score-home-amount">{{game.homeScore}}</div>
					<div class="score-name score-away-name">{{game.awayTeamShortName}}</div>
					<div class="score-amount score-away-amount">{{game.awayScore}}</div>
				</li>
			</ul>
			<p class="linescores-no-games" v-else>No games!</p>
		</div>
	</script>

	<script type="text/x-template" id="linescore">
		<div class="linescore-container">
			
		</div>
	</script>

	<div id="app">
		<scoreboard></scoreboard>
	</div>
	
	<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="/js/site.js"></script>
</body>
</html>

